# Supabase
SUPABASE_URL=https://vloqgautkahgmqcwgfuo.supabase.co
SUPABASE_KEY=sb_publishable_1VypyvoeaM-Uvv7Yi6h0pQ_ZzLqb3tc

# AI API
GEMINI_API_KEY=AIzaSyAY1dF8wRgbg6xGDxDDkvUHtXcWVXcbUI4

# Application
APP_URL=http://localhost:3000
